.category{
    overflow: hidden;
}
.category img{
    transition: transform 0.2s ease-in-out;
}
.category:hover img{
    transform: scale(1.1);
}
.category p {
    color: #fff;
}



.category> :last-child {
    transition: backdrop-filter 0.2s ease-in-out;
}

.category:hover> :last-child {
    backdrop-filter: brightness(92%) !important;
}